img {
width: 400px;
height: 400px;
}

iframe {
height: 400px;
width: 100%;
transform: scale(1);
transform-origin: 0 0;
overflow: hidden;
}

.pdf {
width: 400px;
height: 400px;
overflow-x: hidden;
overflow-x: hidden;
}

.border {
border: 2px solid;
border-color: gray;
}

#dragDropArea {
background-color: #f4f4f4;
margin: 10px;
padding: 10px;
border: #ddd dashed 5px;
min-height: 200px;
text-align: center;
}
#dragDropArea p {
color: #999;
font-weight: bold;
font-size: 14px;
font-size: 1.4em;
}
#dragDropArea .drag-drop-buttons {
margin-top: 20px;
font-size: 12px;
font-size: 1.2em;
}
.drag-drop-buttons input {
margin: auto;
}